/* ====================
Style file linked to landing_page.html
=======================*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(src-images/college.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  text-align: center;
}

.text-box h1 {
  font-size: 52px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn-1 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  background-color: rgb(50, 146, 50);
}

.hero-btn-2 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
  color: #fff;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/* ------Campus------- */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cards-list .card {
  margin: 30px auto;
  width: 300px;
  margin-right: 40px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title p {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card .title-white p {
  color: white;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* Footer CSS */

.element-btn .element-fill-btn {
  background-color: #ff6600;
  border: 0;
  color: #fff;
  padding: 13px 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 252px;
  margin: 0 auto;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 50px -10px rgba(255, 10, 120, 1);
}

/* Transition Effects */

.fill-btn {
  background-color: #ff6600;
  border: 0;
  color: #fff;
  padding: 13px 5px;
  font-size: 16px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  width: 252px;
  margin: 0 auto;
  border-radius: 25px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


.fill-btn:hover,
.element-btn .element-fill-btn:hover {
  background-color: #201f1f;
  box-shadow: 0px 10px 50px -10px rgb(32, 31, 31);
}

.footer {
  position: relative;
  background-color: #201f1f;
  padding: 50px 0px;
  margin-top: 4vh;
}

.footerBg {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.13;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.form-Box input[type="text"],
.form-Box input[type="email"],
.form-Box input[type="passowrd"],
.form-Box textarea {
  width: 100%;
  height: 50px;
  border: 1px solid #737373;
  border-radius: 25px;
  background-color: transparent;
  padding: 5px 25px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #737373;
  font-style: italic;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.form-Box textarea {
  height: 113px;
  padding: 15px 25px;
  resize: none;
}

.form-Box .b_effect:focus,
.subscribe form input:focus {
  border-color: #ff6600;
}

.form-Box .fill-btn {
  position: static;
  transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  width: 184px;
}

.form-Box .fill-btn:hover,
.subscribe form .fill-btn:hover {
  background-color: #ffe402;
  color: #201f1f;
  box-shadow: 0px 10px 50px -10px rgb(255, 228, 2);
}

.fTitle {
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 20px;
}

.fTitle span {
  color: #ff6600;
}

.contact-address ul li,
.contact-address ul li a {
  color: #737373;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
  line-height: 32px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact-address {
  padding: 0 15%;
}

.contact-address ul li i {
  margin-right: 15px;
  /* display: inline-block; */
  float: left;
  line-height: 32px;
}

.contact-address ul li span {
  display: table;
}

.contact-address ul li a:hover {
  color: #ff6600;
}

.subscribe form {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 60px;
}

.subscribe form input {
  width: 100%;
  height: 50px;
  border: 1px solid #737373;
  border-radius: 25px;
  background-color: transparent;
  padding: 5px 215px 5px 25px;
  font-size: 14px;
  color: #737373;
  font-style: italic;
}

.subscribe form .fill-btn {
  bottom: auto;
  top: 0;
  right: 0;
  left: auto;
  transform: translate(0%, 0);
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  width: 209px;
}

.social-icons ul li {
  display: inline-block;
  /* float: left; */
  color: #fff;
  text-align: center;
  line-height: 43px;
  position: relative;
  width: 43px;
  height: 43px;
  margin-right: 28px;
}

.social-icons ul li a {
  color: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 16px;
}

.social-icons ul li:before {
  content: "";
  width: 43px;
  height: 43px;
  display: inline-block;
  position: absolute;
  border: 1px solid #ff6600;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.social-icons ul li:last-child {
  margin: 0;
}

.social-icons ul li:hover:before {
  background: #ff6600;
}

/* --------facilities------- */

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/* cards */
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  margin-left: 20px;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
  height: 35vh;
}
.facilities-col h3 {
  font-weight: 600;
}
.facilities-col p {
  padding: 0;
  text-align: center;
  display: block;
}
.facilities-col h3, .about-us h1 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}

/* Scrollbar Style  */

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#4d9c41),
    to(#19911d),
    color-stop(0.6, #54de5d)
  );
}

/* About Us for the University */
.about-us {
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover {
  color: #fff;
}

.about-col .hero-btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.about-col .hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

/* ------Course------- */
  
.course {
  width: 80%;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: rgb(92, 91, 91);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #E4FAFF;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  border: 1px solid rgb(161, 101, 156);
  box-shadow: 0 0 50px 5px rgba(204, 55, 55, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}