html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.card-group .card .card-body .card-text-price{
  color: grey;
}
.checked {
  color: orange;
}
#copyright{
  padding: 75px 0 0 0;
}