html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}
.card-group .card .card-body .card-text-price {
  color: grey;
}
.checked {
  color: orange;
}
#copyright {
  padding: 75px 0 0 0;
}

.card__image {
  padding: 10px;
  height: 280px;
  overflow: hidden;
  object-fit: cover;
}

.card__group {
  padding: 0 20px;
  margin: 20px;
}

.btn-custom {
  color: #ff5600;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px #ff5600 solid;
  background-color: #ff5600;
  transition: linear 0.15s;
}

.card__ {
  margin: 20px;
  overflow: hidden;
}

.navLink--custom:hover {
  color: #ff5600 !important;
  transition: linear 0.25s;
}
/* secondpage */
.secondPage {
  display: flex;
  justify-content: space-evenly;
  margin-top: 170px;
}

.believe {
  font-size: 87px;
  line-break: auto;
  word-break: break-all;
  margin: 0;
  font-family: josefin sans, sans-serif;
  font-weight: 700;
  margin: 20px;
}

.icons {
  width: 60px;
}
.icons1 {
  display: flex;
  padding: 10px;
}
.icons2 {
  display: flex;
}

.section1 {
  display: flex;
  justify-content: space-around;
}
.section2 {
  display: flex;
  justify-content: space-around;
}
