html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: rgb(197, 194, 194);
}
.card-group .card .card-body .card-text-price {
  color: grey;
}
.checked {
  color: orange;
}
#copyright {
  padding: 75px 0 0 0;
}

.card__image {
  padding: 10px;
  border-radius: 30px;
  height: 280px;
}

.card__group {
  padding: 0 20px;
  margin: 20px;
}

.card__ {
  margin: 20px;
}
