<!DOCTYPE html>
<html>
  <head>
    <title>Credit Card Fraud Detection Web App</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>
          <p style="text-align: center">Credit Card Fraud Detection Rest API</p>
        </h1>
      </div>
    </header>

    <div class="ml-container">
      <p style="text-align: center">
        Enter the 30 feature values in the below cell(in order):
      </p>

      <form action="{{ url_for('predict')}}" method="POST">
        <!-- <input type="text" name="comment"/> -->
        <div class="justify">
          <textarea name="message" rows="8" cols="50"></textarea>
        </div>
        <br/>

        <input type="submit" class="btn-info" value="Predict" />
      </form>
    </div>
  </body>
</html>
