<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="./main.css" rel="stylesheet" type="text/css">
    <title>Programming Jokes</title>
</head>

<body>
    <div class="jumbotron">
        <center>
            <h5>Joke of the moment 😂</h5>
            <h1 class="display-do">
                <%= renderedJoke %>
            </h1>
            <hr class="my-4">


            <div>
                <form action="/" method="post">
                    <button class="btn btn-primary" type="">Another One 😎</button><br><br>
                    <p><code><strong>github.com/dhairyaostwal</strong></code></form></p>
                </form>

                
            </div>


        </center>
    </div>

</body>

</html>
